body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.app__root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
.header form {
  margin: 10px 0 0 0;
  padding: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}

.main {
  flex-grow: 1;
  width: 80%;
  margin: 10px auto;
}
.main:after {
  height: 10px;
  content: '\00A0';
}

form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

form * {
  margin-right: 5px;
  margin-bottom: 2px;
}
.form__buttons {
  margin: 0 5px 0 0;
}

.news__picture {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #9e9e9e;
}

.news__item {
  width: 100%;
  border-bottom: 1px solid #9e9e9e;
}

.footer {
  padding: 10px 0;
}

.width_100 {
  width: 100%;
  padiing: 0 50px 10px;
  margin-bottom: 10px;
}

.width_100 h3 {
  margin-top: 0;
}

.width_80 {
  width: 80%;
  margin: auto;
}
.header__height {
  height: 45px;
}

.border_bottom {
  border-bottom: 1px solid #9e9e9e;
  margin: 0;
}

.border_top {
  border-top: 1px solid #9e9e9e;
  margin: 0;
}

.padding_bottom_5px {
  padding-bottom: 5px;
}

.margin_left_20 {
  margin-left: 20px;
}

.margin__bottom {
  font-size: inherit;
  margin-bottom: 20px;
}

.align_self_start {
  align-self: flex-start;
}

.align_self_start {
  align-self: center;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__start {
  display: flex;
  align-items: start;
  justify-content: start;
}

.flex__column {
  flex-direction: column;
}

.flex__start a {
  text-decoration: none;
  color: #000;
}

.flex__space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}
.warning_color {
  color: #ff3d00;
}

@media screen and (max-width: 900px) {
  .main {
    width: 90%;
  }

  .news__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news__picture {
    width: 100%;
    margin: 0 20px 0 10px;
  }
  .news__data {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.15rem;
  }

  form input,
  select,
  button {
    font-size: 0.85rem;
  }

  .news__item {
    border-width: 2px;
  }

  .border_bottom,
  .border_top {
    border-width: 2px;
  }
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 1.5rem;
  }

  form input,
  select,
  button {
    font-size: 1.5rem;
  }

  .main {
    width: 70%;
  }

  .news__item {
    border-width: 3px;
  }

  .border_bottom,
  .border_top {
    border-width: 3px;
  }
}

@media screen and (min-width: 2500px) {
  body {
    font-size: 2.5rem;
  }

  form input,
  select,
  button {
    font-size: 2rem;
  }

  .header__height {
    height: 70px;
  }

  .main {
    width: 70%;
  }

  .border_bottom,
  .border_top {
    border-width: 5px;
  }

  .news__item {
    border-bottom: 5px solid #9e9e9e;
  }

  .news__picture {
    border-width: 5px;
    margin: 0 50px 50px 0;
  }
}
